.Audit-points {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

.point {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

.title,.summary,.status{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.status label {
    margin-bottom: 5px;
}

.audit_observation,
.recommandations {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons .btn {
    flex: 1;
    max-width:30%;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.buttons .btn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18;
}

label {
    display: block;
    margin-bottom: 5px;
}
