{% extends "Navbar.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
      body{
        background-image: url("{% static 'images/home_bg.png' %}");
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        margin: 0;
        font-family: 'Arial', sans-serif;
      }
      .container{
        display:flex;
        height: 88vh;
        justify-content: center;
        align-items: center;
      }
      .card-container{
      perspective: 1000px;
      justify-content: center; 
      display:flex;
      align-items: center;
      }
      
      .Auditor{
         width:50%;
         padding:20px;
      }
    
      .FormName{
        text-align:center;
        font-size: 24px !important;
        margin-bottom: 20px !important;
        color:#333;
      }
      .card {
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0);
      }
    
      .card:hover{
        transform: scale(1.02);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0);
      }
    
      .registration-card {
        transform: rotateY(0deg);
        display: none;
      }
    
      .flipped .login-card {
        transform: rotateY(180deg);
        display: none;
      }
    
      .flipped .registration-card {
        transform: rotateY(0);
        display: block;
      }
    
      .unflipped .login-card {
        transform: rotateY(0);
        display: block;
      }
    
      .unflipped .registration-card {
        transform: rotateY(180deg);
        display: none;
      }
    
      .form-label {
        margin-bottom: 0.5rem;
      }
    
      .mb-3 {
        margin-bottom: 1rem;
      }
      .input-icon{
        position: absolute;
        top: 50%; 
        left: 15px;
        transform: translateY(-50%);
        color: #555;
      }
      .about_container {
        margin: 50px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .about_container h4 {
        color: #333;
        text-align: center;
        font-size: 28px;
    }
    
    .about_container p {
        line-height: 1.6;
        color:#333;
        text-align: justify;
    }
</style>
<div class="container">
      <div class="Auditor">
        <div class="forms-container">
        <div class="card-container"> <!-- Added a container around the card -->
            <div class="card login-card"> <!-- Added login-card class -->
                <div class="card-body">
                    <form method='POST' action="{% url 'login' %}">
                        {% csrf_token %}
                        <h4 class="FormName">Login Form</h4>
                        <div class="mb-3"> 
                            <i class="input-icon fas fa-user"></i> 
                            <input  placeholder="Enter Username" type="text" class="form-control" id="loginUsername" name="loginUsername">
                        </div>
                        <div class="mb-3">
                            <i class="input-icon fas fa-lock"></i>
                            <input placeholder="Enter password" type="password" class="form-control" id="loginPassword" name="loginPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p>Don't Have an Account? <a href="#" id="flip-to-register">Register</a></p>
                </div>
            </div>
            <div class="card registration-card"> <!-- Added registration-card class -->
                <div class="card-body">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <h4 class="FormName" id="RegistrationForm">Registration Form</h4>
                        <div class="mb-3">
                            <i class="input-icon fas fa-user"></i> 
                            <input placeholder="Enter Username" type="text" class="form-control" id="registrationUsername"  name="registrationUsername">
                        </div>
                        {% comment %} <div class="mb-3">
                            <label for="phoneno" class="form-label">Phone no</label>
                            <input type="number" class="form-control" id="registrationPhoneNo" name="registrationPhoneNo">
                        </div> {% endcomment %}
                        <div class="mb-3">
                            <i class="input-icon fas fa-envelope"></i>
                            <input placeholder="Enter Email" type="email" class="form-control" id="registrationEmail" name="registrationEmail">
                        </div>
                        <div class="mb-3">
                            <i class="input-icon fas fa-lock"></i>
                            <input placeholder="Enter Password" type="password" class="form-control" id="registrationPassword" name="registrationPassword">
                        </div>
                        {% comment %} <div class="mb-3">
                          <input placeholder="Confirm Password" type="password" class="form-control" id="ConfirmPassword" name="registrationPasswordConfirm">
                      </div> {% endcomment %}
                      </div>
                    
                        <button type="submit" class="btn btn-primary">Register</button>
        
                        <p>Already Have an Account? <a href="#" id="flip-to-login">Login</a></p>
    
                    </form>
                </div>       
        </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="about_container">
      <h4>About Us</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>
<script>
  const fliptologincard = document.getElementById("flip-to-login");
  const fliptoregistercard = document.getElementById("flip-to-register");
  const cardContainer = document.querySelector(".card-container");

  fliptoregistercard.addEventListener("click", () => {
    cardContainer.classList.add("flipped");
    cardContainer.classList.remove("unflipped");
  });

  fliptologincard.addEventListener("click", () => {
    cardContainer.classList.remove("flipped");
    cardContainer.classList.add("unflipped");
  });
</script>
{% include 'footer.html' %}
{% endblock body %}