
{% extends "dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<link rel="stylesheet" href="{% static 'css/myreports.css' %}">
<div class="myreport-content">
    <h3>Your Previous Reports </h3>
    <table>
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>PDF Name</th>
                <th>Created At</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for report in user_reports%}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ report.pdf_file.url }}" target="_blank">{{ report.pdf_file.name }}</a></td>
            <td>{{ report.created_at }}</td>
            <td>
                <form method="post" action="{% url 'delete_report' report.id %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fas fa-trash"></i></button>
                  </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
