
{% extends "dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<link rel="stylesheet" href="{% static 'css/myreports.css' %}">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #333; 
        color: white; 
    }
    
    h1, h3 {
        text-align: center;
        color: white;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        color: white; 
    }
    
    th, td {
        border: 1px solid white; 
        padding: 10px;
        text-align: center;
    }
    
    th {
        background-color: #555; 
    }
    
    tr:nth-child(even) {
        background-color: #444;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: white;
        text-decoration: underline;
    }
</style>
<div class="myreport-content">
    <h3>Your Previous Reports </h3>
    <table>
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>PDF Name</th>
                <th>Created At</th>
                <th>Delete</th>
                <th>Rename</th>
            </tr>
        </thead>
        <tbody>
            {%for report in user_reports%}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ report.pdf_file.url }}" target="_blank">{{ report.pdf_file.name }}</a></td>
            <td>{{ report.created_at }}</td>
            <td>
                <form method="post" action="{% url 'delete_report' report.id %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fas fa-trash"></i></button>
                  </form>
                </td>
                <td>
                    <form method="post" action="{% url 'rename_report' report.id %}">
                        {% csrf_token %}
                        <button type="submit"><i class="fas fa-pencil-alt"></i></button>
                      </form>
                    </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
