<!-- genreport.html -->
{% extends "dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<div class="genreport-content">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">Upload the Circulars</h3>
            <form method="post" enctype="multipart/form-data" action="{% url 'file_upload' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="fileInputs">
                <input type="file" name="file">
                </div>
                <div class="buttons">
                    <button type="submit" class="btn" name="AddButton" id="AddButton">Add</button>
                    <button type="submit" class="btn" name="SubmitButton" id="SubmitButton">Upload</button>
                </div>
                
                
            </form>
    </div>
    
</div>
</div>
<title>PDF Name Prompt</title>
</div>

<style>
  .card {
    margin: 20px;
    border: 1px solid white; 
    color: black; 
    transition: transform 0.5s;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 150, 255, 0.2);
    padding: 20px;
    background-color: #fff;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(0, 150, 255, 0.2);
    background-color: white;
}
.card-body {
    text-align: center;
}

form {
    margin: 0;
    padding: 0;
}

form label {
    font-weight: bold;
    color:rgb(0,150,255); 
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(0,150,255); 
    border-radius: 5px;
    color:black;  
    background-color: rgba(0,150,255,0.1); 
}

.buttons .btn {
    flex: 1;
    max-width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    color: white;
    border: 1px solid rgb(0,150,255);
    border-radius: 5px;
    background-color: rgb(0,150,255);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    font-size: 18;
}

.buttons .btn:hover {
    background-color: white;
    color: rgb(0,150,255); 
}
</style>
<script>
  const pdfData= {{ pdf_data|safe }};
  const pdfBlob=new Blob([pdfData], { type: 'application/pdf' });
  const pdfUrl=URL.createObjectURL(pdfBlob);

  const pdfName=prompt('Enter PDF Name:');

  if(pdfName){
    const formData=new FormData();
    formData.append('pdf_file', pdfBlob, pdfName + '.pdf');
    fetch('/save_pdf/', {
      method: 'POST',
      body: formData,
  })
  .then(response => response.json())
  .then(data => alert(data.message))
  .catch(error => console.error('Error:', error));
} else {
  alert('PDF not saved. Please enter a valid name.');
}
</script>
{% endblock %}